# Project 1
### Step 1

I will use **Healthcare Appointment Dataset**, which contains data on whether someone would showed up for a medical appointment or not.'
The dataset comprise 107K rows and 15 columns.

link: https://www.kaggle.com/datasets/wajahat1064/healthcare-appointment-dataset/datans

### Step 2

I will use 'Age' column in this project

### Step 3
New notebook created!

### Step 4

#### Using Pandas

The first thing to do is import Pandas as pd. After that I will read the data using pandas.

In [9]:
import pandas as pd

In [10]:
healthcare2=pd.read_csv('healthcare_data.csv')
healthcare2

,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,Showed_up,Date.diff
0,2.987250e+13,5642903,F,2016-04-29,2016-04-29,62,JARDIM DA PENHA,False,True,False,False,False,False,True,0
1,5.589978e+14,5642503,M,2016-04-29,2016-04-29,56,JARDIM DA PENHA,False,False,False,False,False,False,True,0
2,4.262962e+12,5642549,F,2016-04-29,2016-04-29,62,MATA DA PRAIA,False,False,False,False,False,False,True,0
3,8.679512e+11,5642828,F,2016-04-29,2016-04-29,8,PONTAL DE CAMBURI,False,False,False,False,False,False,True,0
4,8.841186e+12,5642494,F,2016-04-29,2016-04-29,56,JARDIM DA PENHA,False,True,True,False,False,False,True,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
106982,2.572134e+12,5651768,F,2016-05-03,2016-06-07,56,MARIA ORTIZ,False,False,False,False,False,True,True,35
106983,3.596266e+12,5650093,F,2016-05-03,2016-06-07,51,MARIA ORTIZ,False,False,False,False,False,True,True,35
106984,1.557663e+13,5630692,F,2016-04-27,2016-06-07,21,MARIA ORTIZ,False,False,False,False,False,True,True,41
106985,9.213493e+13,5630323,F,2016-04-27,2016-06-07,38,MARIA ORTIZ,False,False,False,False,False,True,True,41
106986,3.775115e+14,5629448,F,2016-04-27,2016-06-07,54,MARIA ORTIZ,False,False,False,False,False,True,True,41

**1. Mean**

In [12]:
healthcare2['Age'].mean()

38.31608513183845

The mean age of people who had medical appointment using Pandas is **38 y.o**

**2. Median**

In [15]:
healthcare2['Age'].median()

38.0

The median age of people who had medical appointment using Pandas is **38 y.o**

**3. Modes**

In [18]:
healthcare2['Age'].mode()

0    1
Name: Age, dtype: int64

The modes age of people who had medical appointment using Pandas is **1 y.o**, which is at index 0

### Step 5
#### Using only Phyton standard library

First thing is to import csv

In [22]:
import csv

Now, read the data using phyton standard library.

In [24]:
healthcare=[]
with open ('healthcare_data.csv',encoding='utf-8') as data1:
    reader=csv.DictReader(data1)
    for row in reader:
        healthcare.append(row)
healthcare[:3]

[{'PatientId': '29872499824296',
  'AppointmentID': '5642903',
  'Gender': 'F',
  'ScheduledDay': '2016-04-29',
  'AppointmentDay': '2016-04-29',
  'Age': '62',
  'Neighbourhood': 'JARDIM DA PENHA',
  'Scholarship': 'FALSE',
  'Hipertension': 'TRUE',
  'Diabetes': 'FALSE',
  'Alcoholism': 'FALSE',
  'Handcap': 'FALSE',
  'SMS_received': 'FALSE',
  'Showed_up': 'TRUE',
  'Date.diff': '0'},
 {'PatientId': '558997776694438',
  'AppointmentID': '5642503',
  'Gender': 'M',
  'ScheduledDay': '2016-04-29',
  'AppointmentDay': '2016-04-29',
  'Age': '56',
  'Neighbourhood': 'JARDIM DA PENHA',
  'Scholarship': 'FALSE',
  'Hipertension': 'FALSE',
  'Diabetes': 'FALSE',
  'Alcoholism': 'FALSE',
  'Handcap': 'FALSE',
  'SMS_received': 'FALSE',
  'Showed_up': 'TRUE',
  'Date.diff': '0'},
 {'PatientId': '4262962299951',
  'AppointmentID': '5642549',
  'Gender': 'F',
  'ScheduledDay': '2016-04-29',
  'AppointmentDay': '2016-04-29',
  'Age': '62',
  'Neighbourhood': 'MATA DA PRAIA',
  'Scholarship': 'FALSE',
  'Hipertension': 'FALSE',
  'Diabetes': 'FALSE',
  'Alcoholism': 'FALSE',
  'Handcap': 'FALSE',
  'SMS_received': 'FALSE',
  'Showed_up': 'TRUE',
  'Date.diff': '0'}]

**1. Mean**

In [26]:
age= [float(row['Age']) for row in healthcare]
age[:5]

[62.0, 56.0, 62.0, 8.0, 56.0]

In [27]:
total_age= sum(age)
mean_age= total_age/len(age)
mean_age

38.31608513183845

The mean age of people who had medical appointment is **38 y.o**

**2. Median**

In [30]:
def median(age):
    sort_data=sorted(age)
    n= len(age)

    if n%2==0:
        med1=sort_data[n//2-1]
        med2=sort_data[n//2]
        median_1= (med1+med2)/2
    else:
        median_1= sort_data[n//2]
    return median_1

First, I make a function called 'median' to calculate the median. If the total count (n) of age is even, the median is the average of the two middle numbers. If the n is odd, the median is the middle number.

In [32]:
median(age)

38.0

The median age of people who had a medical appointment is **38 y.o.**

**3. Modes**

In [35]:
def modes(age):
    frequency = {}
    for num in age:
        frequency[num] = frequency.get(num, 0) + 1
    max_count = max(frequency.values())
    modes = [num for num, count in frequency.items() if count == max_count]

    return modes

Similar to median, I create a function called modes. This function tracks the frequency of each value in the age list using a dictionary called frequency. For each number in age, Python counts the number of times it appears, storing these counts in the frequency dictionary. Finally, we find the highest count and return a list of numbers with that frequency as the modes.

In [37]:
modes(age)

[1.0]

The modes age of people who had a medical appointment is **1 y.o.**

### Step 6

#### Data Visualization

I will create a bar chart that displays the ages of different patients, with each patient identified by their ID. In this chart, longer bars represent older patients, allowing us to quickly see who is older or younger among them.

In [42]:
healthcare2 = pd.read_csv('healthcare_data.csv', dtype={'PatientId': 'string'})

Drop any rows with missing values

In [44]:
data = healthcare2[['PatientId', 'Age']].dropna()
data = data.head(50)

I limit the output to 50 rows to avoid crashing my Jupyter notebook when displaying larger datasets.

In [46]:
if not data.empty:
    max_age = data['Age'].max()
    scale_factor = 40 / max_age

    #header
    print("Patient ID and Age with Visual Representation")
    print("PatientId | Age | Chart")
    print("-" * 50)

    # Print each row with a simple vertical bar
    for _, row in data.iterrows():
        patient_id = row['PatientId']
        age = row['Age']
        bar_length = int(age * scale_factor)
        print(f"{patient_id:<10} | {age:<3} | {'#' * bar_length}")
else:
    print("No valid data to display.")

Patient ID and Age with Visual Representation
PatientId | Age | Chart
--------------------------------------------------
29872499824296 | 62  | #############################
558997776694438 | 56  | ##########################
4262962299951 | 62  | #############################
867951213174 | 8   | ###
8841186448183 | 56  | ##########################
95985133231274 | 76  | ###################################
733688164476661 | 23  | ##########
3449833394123 | 39  | ##################
56394729949972 | 21  | #########
78124564369297 | 19  | ########
734536231958495 | 30  | ##############
7542951368435 | 29  | #############
566654781423437 | 22  | ##########
911394617215919 | 28  | #############
99884723334928 | 54  | #########################
99948393975 | 15  | #######
84574392942817 | 50  | #######################
14794966191172 | 40  | ##################
17135378245248 | 30  | ##############
7223289184215 | 46  | #####################
622257462899397 | 30  | ##############
12154843752835 | 4   | #
863229818887631 | 13  | ######
213753979425692 | 46  | #####################
8734857996885 | 65  | ##############################
5819369978796 | 46  | #####################
25787851512 | 45  | #####################
12154843752835 | 4   | #
5926171692527 | 51  | ########################
1225776163665 | 32  | ###############
342815551642 | 46  | #####################
311284853849 | 12  | #####
52883562769472 | 61  | ############################
7653516999712 | 38  | #################
19999756532994 | 79  | #####################################
78162635161611 | 18  | ########
72984587621439 | 63  | #############################
1578131861739 | 64  | ##############################
5873315843778 | 85  | ########################################
14556231793236 | 59  | ###########################
996868412638744 | 55  | #########################
822432466381793 | 71  | #################################
25965426543339 | 50  | #######################
71558956872246 | 49  | #######################
274164858852 | 78  | ####################################
4982378572899 | 31  | ##############
137943696338 | 58  | ###########################
589458459955 | 39  | ##################
8545415176986 | 58  | ###########################
92235587471561 | 27  | ############

or to display the DataFrame as an HTML table

In [48]:
from IPython.display import display, HTML

if not data.empty:
    max_age = data['Age'].max()
    scale_factor = 40 / max_age  

    data['Chart'] = data['Age'].apply(lambda age: '#' * int(age * scale_factor))

    display(HTML(f"<h3>Patient ID and Age with Visual Representation</h3>{data.to_html(index=False)}"))
else:
    print("No valid data to display.")

## FINISH 🥳